*{

margin: 0%;
padding: 0;
box-sizing: border-box;

}


body{
    background-color: #121212
}

h1 {
  color: rgb(9, 255, 0);
  font-size: xx-large;
}

.logo {
  height: 74px;
  width: 80px;
  border: 30px;
  text-decoration: none;
}
.nav1{

  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-size: x-large;
  text-decoration: none;
  color: aliceblue;

}
li a {
    display: block;
  color: rgb(9, 255, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


.nav li {
    text-decoration: none;
}


.socialMedia {
  display: flex;
  width: 60px;
  height: 54px;
  border: 30px;
  font-size: small;
}
.MENU {
  font-family: "Josefin Sans", sans-serif;
  text-align: justify;
  color: rgb(9, 255, 0);
  background-color: black;
  font-size: x-large;
}
.nosotros {
  font-family: "Josefin Sans", sans-serif;
  text-align: justify;
  color: rgb(9, 255, 0);
  background-color: black;
  font-size: large;
}
.social {
  justify-content:center;
  font-size: small;
  border: 20px;
  padding: 10px;
  border-width: 2px;
  background-color:rgb(124, 228, 141);
  box-sizing: border-box;
  display: flex;
  gap: 50px
  
}
.pieDePagina{display: flex ;
    background-color: red ;
    align-content: center;
    font-family: "Josefin Sans", sans-serif;



}
.footer-copyright{
background-color: rgb(109, 67, 235);
font-size: medium;
font-family: sans-serif;
}

#navbarSupportedContent{
  display: flex;
  justify-content: center;
  font-size:medium;
  font-family: sans-serif;
  border: 20px;
  padding: 16px;
  border-width: 2px;
  background-color: rgb(109, 67, 235);
  box-sizing: border-box;
  display: flex;
  gap: 50px;

}
/*  Grid fotos en css */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 50px;
  padding: 0 4px;
}

@media screen and (max-width: 992px) {
  .column {
      flex: 50%;
      max-width: 50%;
    }
  
  h5 {
    font-size: medium;

  }

}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  h5 {
    font-size: small;

  }
}

@media screen and (max-width: 600px) {
.hi-res{
  display: none;
}
  .column {
    flex: 100%;
    max-width: 100%;
   
  }

  h5 {
    font-size: small;

  }


}

@media screen and (min-width:601px){
  .low-res{
      display: none;
  }
  
  
}
@media only screen and (min-width: 992px) {

  .navtext:hover {

    box-shadow: 0 0 10px 1px;

    background: #FFEEAF;
    color: #7FBCD2;
    animation: anim2 700ms cubic-bezier(0.175, 0.885, 0.32, 0.275) infinite;
    transform: scale(1.2);
    text-shadow: none;
    border-radius: 20px;
  }


}

.low-res
{
  margin: 70px 0 0 0;

}

